@use "mixin" as *;

* {
    padding: 0;
    margin: 0;
    color: white;
    border: none;
}
p {
    font-size: 20px;
}
button {
    background: #9ACD32;
    padding: 15px;
    border-radius: 5px;
    cursor: pointer;
    // margin-top: 30px;
}
.game {
    background: #000033;
    height: 100vh;
}
.score {
    height: 20vh;
    display: flex;
    justify-content: space-around;
    align-items: center;
 & > .player_score  p {
     text-align: center;
     margin-top: 10px;
 }
 & > .computer_score  p {
     text-align: center;
     margin-top: 10px;
 }
}
.intro {
    // z-index: 2;
    margin-top: 120px;
    height: 30vh;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    transition: opacity .5s ease;

    
    
    & > .text-animate {
        font-size: 50px;
        & > .char {
            display:inline-block;
            transition: all 1.5s linear;
            @include animation (
                $name:poyoyon2,
                $duration:1s,
                $timing-function: ease-in-out,
                $fill-mode:forwards,
            );
            // @for $i from 1 through 50{
            //     &:nth-child(#{$i}) {
            //         animation-delay: $i * 0.09s;
            //     }
            // };
            
        }
    }
    // & > button {
    //     // padding: 15px;
    //     // border-radius: 5px;
    //     // margin-top: 70px;
    // }
}
.match {
    opacity: 0;
    z-index: -1;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    transition: all .5s ease  .5s;

    & > .winner {
        text-align: center;
        font-size: 40px;
        margin-bottom: 30px;
    }
    & > .hand {
        display: flex;
        align-items: center;
        justify-content: space-around;
        & > .player_hand {
            transform: rotateY(180deg);
        
      }

    }
}
.options {
display: flex;
justify-content: space-between;
& > button {
    width: 80px;
    margin-top: 50px;
}
}



.fade_out {
    opacity: 0;
    pointer-events: none;
    
}
.fade_in {
    z-index: 0;
    opacity: 1;
    pointer-events: all;

}

@keyframes poyoyon2 {
    0%  {
      transform: scale(1.5, 1.3) translate(0, 0);
    }
    15% {
      transform: scale(0.98, 0.9) translate(0, 15px);
    }
    30% {
      transform: scale(1.02, 1.0) translate(0, 25px);
    }
    50% {transform: scale(0.98, 1.05) translate(0, -15px);
    }
    70% {
      transform: scale(1.0, 0.9) translate(0, 25px);
    }
    100% {
      transform: scale(1.5, 1.3) translate(0, 0);
    }
    0%, 100% {
      opacity: 1;
    }
  }

@keyframes player-animation{
    0% {
        transform: translateY(0px) rotateY(180deg);
    }
    15% {
        transform: translateY(15px) rotateY(180deg);
    }
    25% {
        transform: translateY(0px) rotateY(180deg);
    }
    35% {
        transform: translateY(15px) rotateY(180deg);
    }
    45% {
        transform: translateY(0) rotateY(180deg);
    }
    55% {
        transform: translateY(15px) rotateY(180deg);
    }
    65% {
        transform: translateY(0) rotateY(180deg);
    }
    75% {
        transform: translateY(15px) rotateY(180deg);
    }
    85% {
        transform: translateY(0) rotateY(180deg);
    }
    95% {
        transform: translateY(15px) rotateY(180deg);
    }
    100% {
        transform: translateY(0) rotateY(180deg);
    }
}
@keyframes computer-animation{
    0% {
        transform: translateY(0px);
    }
    15% {
        transform: translateY(15px);
    }
    25% {
        transform: translateY(0px) ;
    }
    35% {
        transform: translateY(15px);
    }
    45% {
        transform: translateY(0) ;
    }
    55% {
        transform: translateY(15px);
    }
    65% {
        transform: translateY(0);
    }
    75% {
        transform: translateY(15px);
    }
    85% {
        transform: translateY(0);
    }
    95% {
        transform: translateY(15px);
    }
    100% {
        transform: translateY(0);
    }
}

